# ytel_apiv3
#
# This file was automatically generated by APIMATIC v2.0
# ( https://apimatic.io ).

module YtelApiv3
  # EmailController
  class EmailController < BaseController
    @instance = EmailController.new

    class << self
      attr_accessor :instance
    end

    def instance
      self.class.instance
    end

    # Remove an email from the invalid email list.
    # @param [String] email Required parameter: A valid email address that is to
    # be remove from the invalid email list.
    # @return String response from the API call
    def create_remove_invalid_email(email)
      # Prepare query url.
      _query_builder = Configuration.base_uri.dup
      _query_builder << '/email/deleteinvalidemail.json'
      _query_url = APIHelper.clean_url _query_builder

      # Prepare form parameters.
      _parameters = {
        'Email' => email
      }
      _parameters = APIHelper.form_encode_parameters(_parameters)

      # Prepare and execute HttpRequest.
      _request = @http_client.post(
        _query_url,
        parameters: _parameters
      )
      BasicAuth.apply(_request)
      _context = execute_request(_request)
      validate_response(_context)

      # Return appropriate response type.
      _context.response.raw_body
    end

    # Retrieve a list of emails that have been blocked.
    # @param [String] offset Optional parameter: The starting point of the list
    # of blocked emails that should be returned.
    # @param [String] limit Optional parameter: The count of results that should
    # be returned.
    # @return String response from the API call
    def create_blocked_emails(offset = nil,
                              limit = nil)
      # Prepare query url.
      _query_builder = Configuration.base_uri.dup
      _query_builder << '/email/listblockemail.json'
      _query_url = APIHelper.clean_url _query_builder

      # Prepare form parameters.
      _parameters = {
        'Offset' => offset,
        'Limit' => limit
      }
      _parameters = APIHelper.form_encode_parameters(_parameters)

      # Prepare and execute HttpRequest.
      _request = @http_client.post(
        _query_url,
        parameters: _parameters
      )
      BasicAuth.apply(_request)
      _context = execute_request(_request)
      validate_response(_context)

      # Return appropriate response type.
      _context.response.raw_body
    end

    # Retrieve a list of emails that are on the spam list.
    # @param [String] offset Optional parameter: The starting point of the list
    # of spam emails that should be returned.
    # @param [String] limit Optional parameter: The count of results that should
    # be returned.
    # @return String response from the API call
    def create_spam_emails(offset = nil,
                           limit = nil)
      # Prepare query url.
      _query_builder = Configuration.base_uri.dup
      _query_builder << '/email/listspamemail.json'
      _query_url = APIHelper.clean_url _query_builder

      # Prepare form parameters.
      _parameters = {
        'Offset' => offset,
        'Limit' => limit
      }
      _parameters = APIHelper.form_encode_parameters(_parameters)

      # Prepare and execute HttpRequest.
      _request = @http_client.post(
        _query_url,
        parameters: _parameters
      )
      BasicAuth.apply(_request)
      _context = execute_request(_request)
      validate_response(_context)

      # Return appropriate response type.
      _context.response.raw_body
    end

    # Retrieve a list of emails that have bounced.
    # @param [String] offset Optional parameter: The starting point of the list
    # of bounced emails that should be returned.
    # @param [String] limit Optional parameter: The count of results that should
    # be returned.
    # @return String response from the API call
    def create_bounced_emails(offset = nil,
                              limit = nil)
      # Prepare query url.
      _query_builder = Configuration.base_uri.dup
      _query_builder << '/email/listbounceemail.json'
      _query_url = APIHelper.clean_url _query_builder

      # Prepare form parameters.
      _parameters = {
        'Offset' => offset,
        'Limit' => limit
      }
      _parameters = APIHelper.form_encode_parameters(_parameters)

      # Prepare and execute HttpRequest.
      _request = @http_client.post(
        _query_url,
        parameters: _parameters
      )
      BasicAuth.apply(_request)
      _context = execute_request(_request)
      validate_response(_context)

      # Return appropriate response type.
      _context.response.raw_body
    end

    # Remove an email address from the bounced list.
    # @param [String] email Required parameter: The email address to be remove
    # from the bounced email list.
    # @return String response from the API call
    def create_remove_bounced_email(email)
      # Prepare query url.
      _query_builder = Configuration.base_uri.dup
      _query_builder << '/email/deletebouncesemail.json'
      _query_url = APIHelper.clean_url _query_builder

      # Prepare form parameters.
      _parameters = {
        'Email' => email
      }
      _parameters = APIHelper.form_encode_parameters(_parameters)

      # Prepare and execute HttpRequest.
      _request = @http_client.post(
        _query_url,
        parameters: _parameters
      )
      BasicAuth.apply(_request)
      _context = execute_request(_request)
      validate_response(_context)

      # Return appropriate response type.
      _context.response.raw_body
    end

    # Retrieve a list of invalid email addresses.
    # @param [String] offset Optional parameter: The starting point of the list
    # of invalid emails that should be returned.
    # @param [String] limit Optional parameter: The count of results that should
    # be returned.
    # @return String response from the API call
    def create_invalid_emails(offset = nil,
                              limit = nil)
      # Prepare query url.
      _query_builder = Configuration.base_uri.dup
      _query_builder << '/email/listinvalidemail.json'
      _query_url = APIHelper.clean_url _query_builder

      # Prepare form parameters.
      _parameters = {
        'Offset' => offset,
        'Limit' => limit
      }
      _parameters = APIHelper.form_encode_parameters(_parameters)

      # Prepare and execute HttpRequest.
      _request = @http_client.post(
        _query_url,
        parameters: _parameters
      )
      BasicAuth.apply(_request)
      _context = execute_request(_request)
      validate_response(_context)

      # Return appropriate response type.
      _context.response.raw_body
    end

    # Retrieve a list of email addresses from the unsubscribe list.
    # @param [String] offset Optional parameter: The starting point of the list
    # of unsubscribed emails that should be returned.
    # @param [String] limit Optional parameter: The count of results that should
    # be returned.
    # @return String response from the API call
    def create_list_unsubscribed_emails(offset = nil,
                                        limit = nil)
      # Prepare query url.
      _query_builder = Configuration.base_uri.dup
      _query_builder << '/email/listunsubscribedemail.json'
      _query_url = APIHelper.clean_url _query_builder

      # Prepare form parameters.
      _parameters = {
        'Offset' => offset,
        'Limit' => limit
      }
      _parameters = APIHelper.form_encode_parameters(_parameters)

      # Prepare and execute HttpRequest.
      _request = @http_client.post(
        _query_url,
        parameters: _parameters
      )
      BasicAuth.apply(_request)
      _context = execute_request(_request)
      validate_response(_context)

      # Return appropriate response type.
      _context.response.raw_body
    end

    # Remove an email address from the list of unsubscribed emails.
    # @param [String] email Required parameter: A valid email address that is to
    # be remove from the unsubscribe list.
    # @return String response from the API call
    def create_remove_unsubscribed_email(email)
      # Prepare query url.
      _query_builder = Configuration.base_uri.dup
      _query_builder << '/email/deleteunsubscribedemail.json'
      _query_url = APIHelper.clean_url _query_builder

      # Prepare form parameters.
      _parameters = {
        'email' => email
      }
      _parameters = APIHelper.form_encode_parameters(_parameters)

      # Prepare and execute HttpRequest.
      _request = @http_client.post(
        _query_url,
        parameters: _parameters
      )
      BasicAuth.apply(_request)
      _context = execute_request(_request)
      validate_response(_context)

      # Return appropriate response type.
      _context.response.raw_body
    end

    # Add an email to the unsubscribe list
    # @param [String] email Required parameter: A valid email address that is to
    # be added to the unsubscribe list
    # @return String response from the API call
    def add_email_unsubscribe(email)
      # Prepare query url.
      _query_builder = Configuration.base_uri.dup
      _query_builder << '/email/addunsubscribesemail.json'
      _query_url = APIHelper.clean_url _query_builder

      # Prepare form parameters.
      _parameters = {
        'email' => email
      }
      _parameters = APIHelper.form_encode_parameters(_parameters)

      # Prepare and execute HttpRequest.
      _request = @http_client.post(
        _query_url,
        parameters: _parameters
      )
      BasicAuth.apply(_request)
      _context = execute_request(_request)
      validate_response(_context)

      # Return appropriate response type.
      _context.response.raw_body
    end

    # Remove an email from blocked emails list.
    # @param [String] email Required parameter: The email address to be remove
    # from the blocked list.
    # @return String response from the API call
    def create_remove_blocked_address(email)
      # Prepare query url.
      _query_builder = Configuration.base_uri.dup
      _query_builder << '/email/deleteblocksemail.json'
      _query_url = APIHelper.clean_url _query_builder

      # Prepare form parameters.
      _parameters = {
        'Email' => email
      }
      _parameters = APIHelper.form_encode_parameters(_parameters)

      # Prepare and execute HttpRequest.
      _request = @http_client.post(
        _query_url,
        parameters: _parameters
      )
      BasicAuth.apply(_request)
      _context = execute_request(_request)
      validate_response(_context)

      # Return appropriate response type.
      _context.response.raw_body
    end

    # Remove an email from the spam email list.
    # @param [String] email Required parameter: A valid email address that is to
    # be remove from the spam list.
    # @return String response from the API call
    def create_remove_spam_address(email)
      # Prepare query url.
      _query_builder = Configuration.base_uri.dup
      _query_builder << '/email/deletespamemail.json'
      _query_url = APIHelper.clean_url _query_builder

      # Prepare form parameters.
      _parameters = {
        'Email' => email
      }
      _parameters = APIHelper.form_encode_parameters(_parameters)

      # Prepare and execute HttpRequest.
      _request = @http_client.post(
        _query_url,
        parameters: _parameters
      )
      BasicAuth.apply(_request)
      _context = execute_request(_request)
      validate_response(_context)

      # Return appropriate response type.
      _context.response.raw_body
    end

    # Create and submit an email message to one or more email addresses.
    # @param [String] to Required parameter: A valid address that will receive
    # the email. Multiple addresses can be separated by using commas.
    # @param [TypeEnum] type Required parameter: Specifies the type of email to
    # be sent
    # @param [String] subject Required parameter: The subject of the mail. Must
    # be a valid string.
    # @param [String] message Required parameter: The email message that is to
    # be sent in the text.
    # @param [String] from Optional parameter: A valid address that will send
    # the email.
    # @param [String] cc Optional parameter: Carbon copy. A valid address that
    # will receive the email. Multiple addresses can be separated by using
    # commas.
    # @param [String] bcc Optional parameter: Blind carbon copy. A valid address
    # that will receive the email. Multiple addresses can be separated by using
    # commas.
    # @param [String] attachment Optional parameter: A file that is attached to
    # the email. Must be less than 7 MB in size.
    # @return String response from the API call
    def create_send_email(to,
                          type,
                          subject,
                          message,
                          from = nil,
                          cc = nil,
                          bcc = nil,
                          attachment = nil)
      # Prepare query url.
      _query_builder = Configuration.base_uri.dup
      _query_builder << '/email/sendemails.json'
      _query_url = APIHelper.clean_url _query_builder

      # Prepare form parameters.
      _parameters = {
        'To' => to,
        'Type' => type,
        'Subject' => subject,
        'Message' => message,
        'From' => from,
        'Cc' => cc,
        'Bcc' => bcc,
        'Attachment' => attachment
      }
      _parameters = APIHelper.form_encode_parameters(_parameters)

      # Prepare and execute HttpRequest.
      _request = @http_client.post(
        _query_url,
        parameters: _parameters
      )
      BasicAuth.apply(_request)
      _context = execute_request(_request)
      validate_response(_context)

      # Return appropriate response type.
      _context.response.raw_body
    end
  end
end
