# ytel_apiv3
#
# This file was automatically generated by APIMATIC v2.0
# ( https://apimatic.io ).

module YtelApiv3
  # ShortCodeController
  class ShortCodeController < BaseController
    @instance = ShortCodeController.new

    class << self
      attr_accessor :instance
    end

    def instance
      self.class.instance
    end

    # Retrieve a list of Short Code assignment associated with your Ytel
    # account.
    # @param [String] shortcode Optional parameter: Only list Short Code
    # Assignment sent from this Short Code
    # @param [String] page Optional parameter: The page count to retrieve from
    # the total results in the collection. Page indexing starts at 1.
    # @param [String] pagesize Optional parameter: The count of objects to
    # return per page.
    # @return String response from the API call
    def create_list_shortcodes(shortcode = nil,
                               page = nil,
                               pagesize = nil)
      # Prepare query url.
      _query_builder = Configuration.base_uri.dup
      _query_builder << '/dedicatedshortcode/listshortcode.json'
      _query_url = APIHelper.clean_url _query_builder

      # Prepare form parameters.
      _parameters = {
        'Shortcode' => shortcode,
        'page' => page,
        'pagesize' => pagesize
      }
      _parameters = APIHelper.form_encode_parameters(_parameters)

      # Prepare and execute HttpRequest.
      _request = @http_client.post(
        _query_url,
        parameters: _parameters
      )
      BasicAuth.apply(_request)
      _context = execute_request(_request)
      validate_response(_context)

      # Return appropriate response type.
      _context.response.raw_body
    end

    # Retrieve a single Short Code object by its shortcode assignment.
    # @param [String] shortcode Required parameter: List of valid Dedicated
    # Short Code to your Ytel account
    # @return String response from the API call
    def create_view_sms(shortcode)
      # Prepare query url.
      _query_builder = Configuration.base_uri.dup
      _query_builder << '/dedicatedshortcode/viewshortcode.json'
      _query_url = APIHelper.clean_url _query_builder

      # Prepare form parameters.
      _parameters = {
        'Shortcode' => shortcode
      }
      _parameters = APIHelper.form_encode_parameters(_parameters)

      # Prepare and execute HttpRequest.
      _request = @http_client.post(
        _query_url,
        parameters: _parameters
      )
      BasicAuth.apply(_request)
      _context = execute_request(_request)
      validate_response(_context)

      # Return appropriate response type.
      _context.response.raw_body
    end

    # View a single Sms Short Code message.
    # @param [String] message_sid Required parameter: The unique identifier for
    # the sms resource
    # @return String response from the API call
    def create_view_sms1(message_sid)
      # Prepare query url.
      _query_builder = Configuration.base_uri.dup
      _query_builder << '/shortcode/viewsms.json'
      _query_url = APIHelper.clean_url _query_builder

      # Prepare form parameters.
      _parameters = {
        'MessageSid' => message_sid
      }
      _parameters = APIHelper.form_encode_parameters(_parameters)

      # Prepare and execute HttpRequest.
      _request = @http_client.post(
        _query_url,
        parameters: _parameters
      )
      BasicAuth.apply(_request)
      _context = execute_request(_request)
      validate_response(_context)

      # Return appropriate response type.
      _context.response.raw_body
    end

    # Retrieve a list of Short Code messages.
    # @param [String] shortcode Optional parameter: Only list messages sent from
    # this Short Code
    # @param [String] to Optional parameter: Only list messages sent to this
    # number
    # @param [String] date_sent Optional parameter: Only list messages sent with
    # the specified date
    # @param [Integer] page Optional parameter: The page count to retrieve from
    # the total results in the collection. Page indexing starts at 1.
    # @param [Integer] page_size Optional parameter: The count of objects to
    # return per page.
    # @return String response from the API call
    def create_list_sms(shortcode = nil,
                        to = nil,
                        date_sent = nil,
                        page = nil,
                        page_size = nil)
      # Prepare query url.
      _query_builder = Configuration.base_uri.dup
      _query_builder << '/shortcode/listsms.json'
      _query_url = APIHelper.clean_url _query_builder

      # Prepare form parameters.
      _parameters = {
        'Shortcode' => shortcode,
        'To' => to,
        'DateSent' => date_sent,
        'Page' => page,
        'PageSize' => page_size
      }
      _parameters = APIHelper.form_encode_parameters(_parameters)

      # Prepare and execute HttpRequest.
      _request = @http_client.post(
        _query_url,
        parameters: _parameters
      )
      BasicAuth.apply(_request)
      _context = execute_request(_request)
      validate_response(_context)

      # Return appropriate response type.
      _context.response.raw_body
    end

    # Send Dedicated Shortcode
    # @param [Integer] shortcode Required parameter: Your dedicated shortcode
    # @param [Float] to Required parameter: The number to send your SMS to
    # @param [String] body Required parameter: The body of your message
    # @param [String] method Optional parameter: Specifies the HTTP method used
    # to request the required URL once the Short Code message is sent.GET or
    # POST
    # @param [String] messagestatuscallback Optional parameter: URL that can be
    # requested to receive notification when Short Code message was sent.
    # @return String response from the API call
    def create_send_sms(shortcode,
                        to,
                        body,
                        method = nil,
                        messagestatuscallback = nil)
      # Prepare query url.
      _query_builder = Configuration.base_uri.dup
      _query_builder << '/dedicatedshortcode/sendsms.json'
      _query_url = APIHelper.clean_url _query_builder

      # Prepare form parameters.
      _parameters = {
        'shortcode' => shortcode,
        'to' => to,
        'body' => body,
        'method' => method,
        'messagestatuscallback' => messagestatuscallback
      }
      _parameters = APIHelper.form_encode_parameters(_parameters)

      # Prepare and execute HttpRequest.
      _request = @http_client.post(
        _query_url,
        parameters: _parameters
      )
      BasicAuth.apply(_request)
      _context = execute_request(_request)
      validate_response(_context)

      # Return appropriate response type.
      _context.response.raw_body
    end

    # Retrive a list of inbound Sms Short Code messages associated with your
    # Ytel account.
    # @param [Integer] page Optional parameter: The page count to retrieve from
    # the total results in the collection. Page indexing starts at 1.
    # @param [Integer] pagesize Optional parameter: Number of individual
    # resources listed in the response per page
    # @param [String] from Optional parameter: Only list SMS messages sent from
    # this number
    # @param [String] shortcode Optional parameter: Only list SMS messages sent
    # to Shortcode
    # @param [String] datecreated Optional parameter: Only list SMS messages
    # sent in the specified date MAKE REQUEST
    # @return String response from the API call
    def create_list_inbound_sms(page = nil,
                                pagesize = nil,
                                from = nil,
                                shortcode = nil,
                                datecreated = nil)
      # Prepare query url.
      _query_builder = Configuration.base_uri.dup
      _query_builder << '/dedicatedshortcode/getinboundsms.json'
      _query_url = APIHelper.clean_url _query_builder

      # Prepare form parameters.
      _parameters = {
        'page' => page,
        'pagesize' => pagesize,
        'From' => from,
        'Shortcode' => shortcode,
        'Datecreated' => datecreated
      }
      _parameters = APIHelper.form_encode_parameters(_parameters)

      # Prepare and execute HttpRequest.
      _request = @http_client.post(
        _query_url,
        parameters: _parameters
      )
      BasicAuth.apply(_request)
      _context = execute_request(_request)
      validate_response(_context)

      # Return appropriate response type.
      _context.response.raw_body
    end

    # Update a dedicated shortcode.
    # @param [String] shortcode Required parameter: List of valid dedicated
    # shortcode to your Ytel account.
    # @param [String] friendly_name Optional parameter: User generated name of
    # the dedicated shortcode.
    # @param [String] callback_method Optional parameter: Specifies the HTTP
    # method used to request the required StatusCallBackUrl once call
    # connects.
    # @param [String] callback_url Optional parameter: URL that can be requested
    # to receive notification when call has ended. A set of default parameters
    # will be sent here once the call is finished.
    # @param [String] fallback_method Optional parameter: Specifies the HTTP
    # method used to request the required FallbackUrl once call connects.
    # @param [String] fallback_url Optional parameter: URL used if any errors
    # occur during execution of InboundXML or at initial request of the required
    # Url provided with the POST.
    # @return String response from the API call
    def update_shortcode(shortcode,
                         friendly_name = nil,
                         callback_method = nil,
                         callback_url = nil,
                         fallback_method = nil,
                         fallback_url = nil)
      # Prepare query url.
      _query_builder = Configuration.base_uri.dup
      _query_builder << '/dedicatedshortcode/updateshortcode.json'
      _query_url = APIHelper.clean_url _query_builder

      # Prepare form parameters.
      _parameters = {
        'Shortcode' => shortcode,
        'FriendlyName' => friendly_name,
        'CallbackMethod' => callback_method,
        'CallbackUrl' => callback_url,
        'FallbackMethod' => fallback_method,
        'FallbackUrl' => fallback_url
      }
      _parameters = APIHelper.form_encode_parameters(_parameters)

      # Prepare and execute HttpRequest.
      _request = @http_client.post(
        _query_url,
        parameters: _parameters
      )
      BasicAuth.apply(_request)
      _context = execute_request(_request)
      validate_response(_context)

      # Return appropriate response type.
      _context.response.raw_body
    end
  end
end
