# ytel_apiv3
#
# This file was automatically generated by APIMATIC v2.0
# ( https://apimatic.io ).

module YtelApiv3
  # SMSController
  class SMSController < BaseController
    @instance = SMSController.new

    class << self
      attr_accessor :instance
    end

    def instance
      self.class.instance
    end

    # Retrieve a single SMS message object with details by its SmsSid.
    # @param [String] message_sid Required parameter: The unique identifier for
    # a sms message.
    # @return String response from the API call
    def create_view_sms1(message_sid)
      # Prepare query url.
      _query_builder = Configuration.base_uri.dup
      _query_builder << '/sms/viewdetailsms.json'
      _query_url = APIHelper.clean_url _query_builder

      # Prepare form parameters.
      _parameters = {
        'MessageSid' => message_sid
      }
      _parameters = APIHelper.form_encode_parameters(_parameters)

      # Prepare and execute HttpRequest.
      _request = @http_client.post(
        _query_url,
        parameters: _parameters
      )
      BasicAuth.apply(_request)
      _context = execute_request(_request)
      validate_response(_context)

      # Return appropriate response type.
      _context.response.raw_body
    end

    # Retrieve a single SMS message object by its SmsSid.
    # @param [String] message_sid Required parameter: The unique identifier for
    # a sms message.
    # @return String response from the API call
    def create_view_sms(message_sid)
      # Prepare query url.
      _query_builder = Configuration.base_uri.dup
      _query_builder << '/sms/viewsms.json'
      _query_url = APIHelper.clean_url _query_builder

      # Prepare form parameters.
      _parameters = {
        'MessageSid' => message_sid
      }
      _parameters = APIHelper.form_encode_parameters(_parameters)

      # Prepare and execute HttpRequest.
      _request = @http_client.post(
        _query_url,
        parameters: _parameters
      )
      BasicAuth.apply(_request)
      _context = execute_request(_request)
      validate_response(_context)

      # Return appropriate response type.
      _context.response.raw_body
    end

    # Send an SMS from a Ytel number
    # @param [String] from Required parameter: The 10-digit SMS-enabled Ytel
    # number (E.164 format) in which the message is sent.
    # @param [String] to Required parameter: The 10-digit phone number (E.164
    # format) that will receive the message.
    # @param [String] body Required parameter: The body message that is to be
    # sent in the text.
    # @param [String] method Optional parameter: Specifies the HTTP method used
    # to request the required URL once SMS sent.
    # @param [String] message_status_callback Optional parameter: URL that can
    # be requested to receive notification when SMS has Sent. A set of default
    # parameters will be sent here once the SMS is finished.
    # @param [Boolean] smartsms Optional parameter: Check's 'to' number can
    # receive sms or not using Carrier API, if wireless = true then text sms is
    # sent, else wireless = false then call is recieved to end user with audible
    # message.
    # @param [Boolean] delivery_status Optional parameter: Delivery reports are
    # a method to tell your system if the message has arrived on the destination
    # phone.
    # @return String response from the API call
    def create_send_sms(from,
                        to,
                        body,
                        method = nil,
                        message_status_callback = nil,
                        smartsms = nil,
                        delivery_status = nil)
      # Prepare query url.
      _query_builder = Configuration.base_uri.dup
      _query_builder << '/sms/sendsms.json'
      _query_url = APIHelper.clean_url _query_builder

      # Prepare form parameters.
      _parameters = {
        'From' => from,
        'To' => to,
        'Body' => body,
        'Method' => method,
        'MessageStatusCallback' => message_status_callback,
        'Smartsms' => smartsms,
        'DeliveryStatus' => delivery_status
      }
      _parameters = APIHelper.form_encode_parameters(_parameters)

      # Prepare and execute HttpRequest.
      _request = @http_client.post(
        _query_url,
        parameters: _parameters
      )
      BasicAuth.apply(_request)
      _context = execute_request(_request)
      validate_response(_context)

      # Return appropriate response type.
      _context.response.raw_body
    end

    # Retrieve a list of Outbound SMS message objects.
    # @param [Integer] page Optional parameter: The page count to retrieve from
    # the total results in the collection. Page indexing starts at 1.
    # @param [Integer] page_size Optional parameter: Number of individual
    # resources listed in the response per page
    # @param [String] from Optional parameter: Filter SMS message objects from
    # this valid 10-digit phone number (E.164 format).
    # @param [String] to Optional parameter: Filter SMS message objects to this
    # valid 10-digit phone number (E.164 format).
    # @param [String] date_sent Optional parameter: Only list SMS messages sent
    # in the specified date range
    # @return String response from the API call
    def create_list_sms(page = nil,
                        page_size = nil,
                        from = nil,
                        to = nil,
                        date_sent = nil)
      # Prepare query url.
      _query_builder = Configuration.base_uri.dup
      _query_builder << '/sms/listsms.json'
      _query_url = APIHelper.clean_url _query_builder

      # Prepare form parameters.
      _parameters = {
        'Page' => page,
        'PageSize' => page_size,
        'From' => from,
        'To' => to,
        'DateSent' => date_sent
      }
      _parameters = APIHelper.form_encode_parameters(_parameters)

      # Prepare and execute HttpRequest.
      _request = @http_client.post(
        _query_url,
        parameters: _parameters
      )
      BasicAuth.apply(_request)
      _context = execute_request(_request)
      validate_response(_context)

      # Return appropriate response type.
      _context.response.raw_body
    end

    # Retrieve a list of Inbound SMS message objects.
    # @param [Integer] page Optional parameter: The page count to retrieve from
    # the total results in the collection. Page indexing starts at 1.
    # @param [Integer] page_size Optional parameter: The count of objects to
    # return per page.
    # @param [String] from Optional parameter: Filter SMS message objects from
    # this valid 10-digit phone number (E.164 format).
    # @param [String] to Optional parameter: Filter SMS message objects to this
    # valid 10-digit phone number (E.164 format).
    # @param [String] date_sent Optional parameter: Filter sms message objects
    # by this date.
    # @return String response from the API call
    def create_list_inbound_sms(page = nil,
                                page_size = nil,
                                from = nil,
                                to = nil,
                                date_sent = nil)
      # Prepare query url.
      _query_builder = Configuration.base_uri.dup
      _query_builder << '/sms/getinboundsms.json'
      _query_url = APIHelper.clean_url _query_builder

      # Prepare form parameters.
      _parameters = {
        'Page' => page,
        'PageSize' => page_size,
        'From' => from,
        'To' => to,
        'DateSent' => date_sent
      }
      _parameters = APIHelper.form_encode_parameters(_parameters)

      # Prepare and execute HttpRequest.
      _request = @http_client.post(
        _query_url,
        parameters: _parameters
      )
      BasicAuth.apply(_request)
      _context = execute_request(_request)
      validate_response(_context)

      # Return appropriate response type.
      _context.response.raw_body
    end
  end
end
