# This file was automatically generated by APIMATIC v2.0
# ( https://apimatic.io ).

module YtelApi
  # TranscriptionController
  class TranscriptionController < BaseController
    @instance = TranscriptionController.new

    class << self
      attr_accessor :instance
    end

    def instance
      self.class.instance
    end

    # Transcribe an audio recording from a file.
    # @param [String] audiourl Required parameter: URL pointing to the location
    # of the audio file that is to be transcribed.
    # @return String response from the API call
    def create_transcriptions_audiourltranscription(audiourl)
      # Prepare query url.
      _query_builder = Configuration.base_uri.dup
      _query_builder << '/transcriptions/audiourltranscription.json'
      _query_url = APIHelper.clean_url _query_builder

      # Prepare form parameters.
      _parameters = {
        'audiourl' => audiourl
      }
      _parameters = APIHelper.form_encode_parameters(_parameters)

      # Prepare and execute HttpRequest.
      _request = @http_client.post(
        _query_url,
        parameters: _parameters
      )
      BasicAuth.apply(_request)
      _context = execute_request(_request)
      validate_response(_context)

      # Return appropriate response type.
      _context.response.raw_body
    end

    # Transcribe a recording by its RecordingSid.
    # @param [String] recording_sid Required parameter: The unique identifier
    # for a recording object.
    # @return String response from the API call
    def create_transcriptions_recordingtranscription(recording_sid)
      # Prepare query url.
      _query_builder = Configuration.base_uri.dup
      _query_builder << '/transcriptions/recordingtranscription.json'
      _query_url = APIHelper.clean_url _query_builder

      # Prepare form parameters.
      _parameters = {
        'recordingSid' => recording_sid
      }
      _parameters = APIHelper.form_encode_parameters(_parameters)

      # Prepare and execute HttpRequest.
      _request = @http_client.post(
        _query_url,
        parameters: _parameters
      )
      BasicAuth.apply(_request)
      _context = execute_request(_request)
      validate_response(_context)

      # Return appropriate response type.
      _context.response.raw_body
    end

    # Retrieve information about a transaction by its TranscriptionSid.
    # @param [String] transcriptionsid Required parameter: The unique identifier
    # for a transcription object.
    # @return String response from the API call
    def create_transcriptions_viewtranscription(transcriptionsid)
      # Prepare query url.
      _query_builder = Configuration.base_uri.dup
      _query_builder << '/transcriptions/viewtranscription.json'
      _query_url = APIHelper.clean_url _query_builder

      # Prepare form parameters.
      _parameters = {
        'transcriptionsid' => transcriptionsid
      }
      _parameters = APIHelper.form_encode_parameters(_parameters)

      # Prepare and execute HttpRequest.
      _request = @http_client.post(
        _query_url,
        parameters: _parameters
      )
      BasicAuth.apply(_request)
      _context = execute_request(_request)
      validate_response(_context)

      # Return appropriate response type.
      _context.response.raw_body
    end

    # Retrieve a list of transcription objects for your Ytel account.
    # @param [Integer] page Optional parameter: The page count to retrieve from
    # the total results in the collection. Page indexing starts at 1.
    # @param [Integer] pagesize Optional parameter: The count of objects to
    # return per page.
    # @param [StatusEnum] status Optional parameter: The state of the
    # transcription.
    # @param [String] date_transcribed Optional parameter: The date the
    # transcription took place.
    # @return String response from the API call
    def create_transcriptions_listtranscription(options = {})
      # Prepare query url.
      _query_builder = Configuration.base_uri.dup
      _query_builder << '/transcriptions/listtranscription.json'
      _query_url = APIHelper.clean_url _query_builder

      # Prepare form parameters.
      _parameters = {
        'page' => options['page'],
        'pagesize' => options['pagesize'],
        'status' => options['status'],
        'dateTranscribed' => options['date_transcribed']
      }
      _parameters = APIHelper.form_encode_parameters(_parameters)

      # Prepare and execute HttpRequest.
      _request = @http_client.post(
        _query_url,
        parameters: _parameters
      )
      BasicAuth.apply(_request)
      _context = execute_request(_request)
      validate_response(_context)

      # Return appropriate response type.
      _context.response.raw_body
    end
  end
end
